h1 {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: rgb(197, 7, 7);
    text-decoration: underline;
}

h3 {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: rgb(197, 7, 7);
    text-decoration: underline;
}

div {
    text-align: center;
}

body {
    background-color: rgb(253, 194, 194);
}

p {
    color: rgb(243, 82, 82);
    font-family: 'Verdana', 'Geneva', Tahoma, sans-serif;
    font-weight: bold;
    line-height: 22px;
}

span {
    font-style: italic;
}

.site {
    font-size: smaller;
}